@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>After U register Email us on About@Gmail.com We Will Activate<br>
    Account to Producer After We Check Ur Legetimacy
    </br> Ur </p>
